<ion-view view-title="소개팅 등록">
	<ion-content scroll="false">
		<!-- <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="location" /> -->
		<div class="list">
			<label class="item item-input">
		  		<span class="input-label">장소</span>
		  		<div ng-click="showMap()">zzzzz</div>
		  	</label>	
		  	<label class="item item-input">
		  		<span class="input-label">날짜</span>
		    	<input type="date" placeholder="날짜">
		  	</label>
		  	<label class="item item-input">
		  		<span class="input-label">이름</span>
		    	<input type="text" placeholder="Last Name">
		  	</label>
		  	<label class="item item-input">
		  		<span class="input-label">소개</span>
		    	<textarea placeholder="할 말 & 소개"></textarea>
		  	</label>
		</div>
	<!-- <div data-tap-disabled="true" id="map" style="height:100%">
	</div> -->
		<div class="padding">
			<button class="button button-block button-positive">등록</button>
		</div>
	</ion-content>
</ion-view>

