<ion-view view-title="로그인" hide-nav-bar="true">
	<ion-content>
		<br>
		<h2 class="text-center">일인반닭</h2>
		<div class="row text-center">
			<img src="img/logo.png" width="150px" height="150px" style="margin : auto">
		</div>
		<br>
		<div class="row">
			<div class="col col-center col-offset-10 col-80">
				<div class="list">
				  <label class="item item-input">
				    <input type="email" placeholder="ID">
				  </label>
				  <label class="item item-input">
				    <input type="password" placeholder="password">
				  </label>
				</div>
			</div>
		</div>

		<button class="button button-full button-positive button-outline" ng-click="move.main()">로그인</button>
		<button class="button button-full button-positive button-outline" ng-click="move.signUp()">회원가입</button>
	</ion-content>
</ion-view>