<ion-view view-title="chicken">
<div class="list card">

  <div class="item item-avatar">
    <img src="img/IMG_1020.jpg">
    <h2>이재호</h2>
    <p>1월 3일 치킨버스(안암동 5가)</p>
  </div>

  <div class="item item-body">
    <img  width="100px" height="100px" style="margin : 10px auto;;"src="img/chicken.png">
    <p>
      새해를 맞이하여!! 치느님을 모시러 저와 함께 모시러 가요 ㅎㅎ!><
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
</ion-view>
