#map-view {
	// left : 10%;
	// right : 10%;
	// width : 80%;
	.search-list {
		margin-bottom : 0px;
	}

	.button.button-map-register {
		position : absolute;
		bottom : 0px;
		margin-bottom : 0px;
	}
	
}
