#map-view {
	// left : 10%;
	// right : 10%;
	// width : 80%;
	.search-list {
		margin-bottom : 0px;
	}

	.button.button-map-register {
		position : absolute;
		bottom : 0px;
		margin-bottom : 0px;
	}

}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}