<ion-nav-buttons side="right">
	<button class="button button-clear icon ion-plus-round" ui-sref="register">
  	</button>

	<button class="button button-clear icon ion-person" ui-sref="myPage">
  	</button>

  	<button class="button button-clear icon ion-gear-a" ui-sref="setting">
  	</button>

</ion-nav-buttons>

<ion-tabs class="tabs-positive tabs-icon-only tabs-top">

	<ion-tab title="등록한 소개팅" ui-sref="main.register">
		<ion-nav-view name="tab-register"></ion-nav-view>
    	<!-- Tab 1 content -->
	</ion-tab>

	<ion-tab title="신청한 소개팅" ui-sref="main.apply">
		<ion-nav-view name="tab-apply"></ion-nav-view>
	</ion-tab>
</ion-tabs>